@import 'normalize';
@import 'variables';

/* purgecss start ignore */

html,
body {
	height: 100%;
	overflow: hidden;
}

body,
input,
textarea {
	font-family: 'IBM Plex Mono', sans-serif;
	font-style: normal;
}

input,
textarea {
	&:focus {
		outline: none;
	}
}

textarea {
	resize: none;
}

@keyframes slideIn {
	0% {
		transform: translateY(200px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideIn1 {
	0% {
		transform: translateY(12px);
	}
	100% {
		transform: translateY(-6px);
	}
}

@keyframes slideIn2 {
	0% {
		transform: translateY(12px);
	}
	100% {
		transform: translateY(-12px);
	}
}

#email-window,
#email-header,
#email-compose,
#email-body,
#email-window:before,
#email-window:after {
	@apply bg-white;
}

#email-window {
	@apply border border-solid border-gray-300 w-[90%] mx-auto h-full flex flex-col;
	max-width: 67rem;
	border-top: 0;
	position: relative;
	border-radius: 0;
	z-index: 99;
	min-height: 80vh;
	animation: 0.3s ease 0s 1 slideIn;
	animation-fill-mode: forwards;
	transition: background-color 0.2s ease;
	margin-top: 5rem;

	&:before {
		@apply border border-solid border-gray-300;
		content: '';
		height: 100%;
		position: absolute;
		width: calc(100% - 12px);
		animation: 0.3s ease 0s 1 slideIn1;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
		height: 100%;
		top: 0;
		left: 6px;
		z-index: -1;
	}

	@media (min-width: 480px) {
		margin-top: 9.5rem;

		&:before,
		&:after {
			content: '';
			height: 100%;
			@apply border border-solid border-gray-300;
			position: absolute;
		}

		&:after {
			animation: 0.3s ease 0s 1 slideIn2;
			animation-delay: 0.5s;
			animation-fill-mode: forwards;
			width: calc(100% - 24px);
			height: 100%;
			top: 0;
			left: 12px;
			z-index: -2;
		}
	}

	@media (min-width: 1920px) {
		max-width: 86rem;
	}
}

#email-header {
	@apply p-4 flex justify-center items-center w-full text-center relative;
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
	transition: all 0.2s ease;
}

#email-compose {
	@apply border-gray-300 border-b [border-bottom-style:solid];
	transition: all 0.2s ease;
}

#mailto-link-container {
	@apply absolute w-full flex justify-center px-2;
	visibility: hidden;
	height: 0;
	width: 0;
	bottom: 2rem;
	transform: translateY(8rem);
	transition: transform 0.2s ease;
	margin: auto;
	z-index: 200;

	#mailto-link {
		display: none;
	}

	&.active {
		visibility: visible;
		height: auto;
		width: 100%;
		transform: translateY(0);

		#mailto-link {
			display: flex;
		}
	}
}

#mailto-link {
	@apply text-sm text-white bg-theme-black rounded-full font-bold border-white flex-row items-center justify-between;
	transition: all 0.2s ease;
	box-shadow: 0 10px 40px 0 rgba(17, 38, 57, 0.4);
	padding: 0.45rem 0.45rem 0.45rem 1.5rem;
	width: fit-content;
	max-width: 60%;

	@media (min-width: 480px) {
		font-size: 1rem;
	}

	@media (min-width: 1920px) {
		max-width: 500px;
	}
}

#mailto-text {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
}

#copy-code {
	@apply text-theme-black rounded-full font-semibold ml-2;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	background-color: #64ebcd;
	transition: all 0.2s ease;
	transform: scale(1);
	line-height: 40px;
	padding-left: 1rem;
	padding-right: 1rem;
	white-space: nowrap;
	border: none;

	&:hover,
	&:focus {
		background-color: #4de8c6;
	}

	&:hover {
		transform: scale(0.98);
	}

	&:active {
		transform: scale(1.05);
	}
}

body {
	background-image: url('/assets/tile.svg');
	background-repeat: repeat;
	background-size: 60%;
	background-position: -3px -45%;
	background-color: #effcf9;
	transition: background-color 0.2s ease;

	@media (min-width: 480px) {
		background-size: 15%;
		background-position: -3px -3px;
	}

	@media (min-width: 1920px) {
		background-size: 10%;
	}
}

::selection {
	@apply text-white;
	background: #64ebcd;
}

:root[theme='dark'] {
	body,
	input,
	textarea {
		@apply text-white;
	}
	body {
		background-image: url('/assets/tile-dark.svg');
		@apply bg-theme-black;
	}
	#email-window,
	#email-header,
	#email-compose,
	#email-body,
	#email-window:before,
	#email-window:after {
		@apply border-black;
		background-color: #191919;
	}
	#email-header {
		@apply text-white;
	}
	#mailto-link {
		@apply bg-white text-theme-black;
		box-shadow: none;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation: none !important;
		transition: none !important;
	}

	#email-window {
		&:before {
			content: '';
			top: -6px;
		}
		&:after {
			content: '';
			top: -12px;
		}
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
